 <div class="main1">

 
 
 <!-- empty wishlist -->
 <div class="container" id="box1" *ngIf="allcart.lenght==0">

    <h2 class="text-center">Your Cart is Empty</h2>
    <div class="row pt-5 d-flex justify-content-center" id="row1">
       
        <div class="col-md-6 d-flex justify-content-center">
            <img id="boximage" width="50%" src="https://www.pngjoy.com/pngl/288/5479292_empty-tomb-empty-clipart-hd-png-download.png" alt="">
        </div>

    </div>
    <hr>
    <div class="row d-flex justify-content-center" id="row1">
       
        <div class="col-md-6 d-flex justify-content-center">
            <a class="btn btn-transparent btn-outline-light">Back to Shopping</a>
        </div>

    </div>
    
</div>

<!-- cart with products -->
<div class="container-fluid">
    <div class= "col p-5 border border-success rounded mt-3 mb-5 bg-dark">
        <!-- summary -->
        <div class="">
            <div class="border rounded -pill p-3 bg-warning">
                <h3 class="text-primary">Price: ${{totalcartprice}}</h3>
                <h4 *ngIf="totalcartprice>300&&totalcartprice<1000" class="text-danger" ><i class="fa-solid fa-tag fa-beat-fade"></i> Discount: -10% = -${{discount}}</h4>
                <h4 *ngIf="totalcartprice>1000" class="text-danger" ><i class="fa-solid fa-tag fa-beat-fade"></i> Discount: -50% = -${{discount}}</h4>
                <hr>
                <h2 class="text-success"><b>Grand Total: ${{grandtotal}}</b></h2>
            </div>
            <div class="d-flex justify-content-center mt-5">
                <button data-bs-toggle="modal" data-bs-target="#checkout" class="btn btn-success btn-outline-light form-control">Check Out</button>
                
                
                <!-- modal -->
                <div class="modal" id="checkout" tabindex="-1">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Check Out Details</h5>
                          <button (click)="modalclose()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <form *ngIf="!paymentstatus" [formGroup]="addressform" (ngSubmit)="submitform()">

                          <div class="form-floating mb-3">
                            <input name="username" formControlName="username" type="text" class="form-control" placeholder="User Name">
                            <label>User Name</label>
                            <div *ngIf="this.addressform.get('username')?.errors && this.addressform.get('username')?.touched" class="text-danger ms-2">*Invalid User Name</div>
                          </div>
                          <div class="form-floating mb-3">
                            <input name="housenumber" formControlName="housenumber" type="text" class="form-control" placeholder="House Number">
                            <label>House Number</label>
                            <div *ngIf="this.addressform.get('housenumber')?.errors && this.addressform.get('housenumber')?.touched" class="text-danger ms-2">*Invalid House Number</div>
                          </div>
                          <div class="form-floating mb-3">
                            <input name="street" formControlName="street" type="text" class="form-control" placeholder="Street Name">
                            <label>Street Name</label>
                            <div *ngIf="this.addressform.get('street')?.errors && this.addressform.get('street')?.touched" class="text-danger ms-2">*Invalid Street Name</div>
                          </div>
                          <div class="form-floating mb-3">
                            <input name="pincode" formControlName="pincode" type="text" class="form-control" placeholder="PIN CODE">
                            <label>PIN CODE</label>
                            <div *ngIf="this.addressform.get('pincode')?.errors && this.addressform.get('pincode')?.touched" class="text-danger ms-2">*Invalid PINCODE</div>
                          </div>
                          <div class="form-floating mb-3">
                            <input name="state" formControlName="state" type="text" class="form-control" placeholder="State">
                            <label>State</label>
                            <div *ngIf="this.addressform.get('state')?.errors && this.addressform.get('state')?.touched" class="text-danger ms-2">*Invalid State</div>
                          </div>
                          <hr>
                          <div class="d-grid">
                            <button class="btn btn-success mt-1 mb-3" type="submit">Proceed to Pay</button>
                          </div>
                          <div class="">
                            <button class="btn btn-primary mt-1 mb-3"><i class="fa-solid fa-cart"></i> Continue Shopping</button>
                          </div>

                        </form>

                          <div>
                                <!-- total and offer -->
                                <div class="form-floating mb-3">
                                    <h3>Total Amount: <i class="fa-solid fa-dollar fa-beat"></i>{{totalcartprice}}</h3>
                                    <button (click)="offers()" class="btn btn-success">Click to View Offers: <i class="fa-solid fa-tag fa-beat-fade"></i></button>
                                </div>
                                
                                <hr>
                                <!-- address details -->
                                <div *ngIf="paymentstatus" class="" m-1>
                                    <h4>Delivery Address Details</h4>
                                    <h6>username: {{username}}</h6>
                                    <h6>housenumber: {{housenumber}}</h6>
                                    <h6>state: {{state}}</h6>
                                    <h6>street: {{street}}</h6>
                                    <h6>pincode: {{pincode}}</h6>
                                </div>
                                
                                <!-- offers and coupons -->
                                <div *ngIf="offerstatus" class="text-center">
                                    <!-- discount 10% -->
                                    <img *ngIf="totalcartprice>300&&totalcartprice<1000" class="fa-fade" width="50%" src="https://www.pngkit.com/png/full/183-1837936_10-percent-discount-tag-10-discount-tag-png.png" alt="">
                                    <!-- discount 50% -->
                                    <img *ngIf="totalcartprice>1000" class="fa-fade" width="50%" src="https://www.pngkit.com/png/full/371-3715094_buy-quality-payless-up-to-50-off-png.png" alt="">
                                    <h3>Amount to Pay: {{grandtotal}} <i class="fa-solid fa-dollar fa-beat"></i></h3>
                                </div>
                                <!-- make payment -->
                                <div *ngIf="paymentstatus&&!makepayment" class="d-flex justify-content-end mt-3">
                                    <button (click)="makePayment()" class="btn btn-success">Make Payment</button>
                                </div>
                                <div class="mt-5" *ngIf="makepayment">
                                    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                                </div>
                         </div>

                          

                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>

<!-- table section -->
    <div class="row">
        <div class="col px-4">
            <!-- table -->
            <table border="3px" class="table table-striped table-hover table-dark text-center align-items-center">
                <thead>
                    <tr>
                        <th class="col-1">No</th>
                        <th class="col-3">Name</th>
                        <th class="col-3">Image</th>
                        <th class="col-2">Quantity</th>
                        <th title="Total Price">T.Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of allcart; let i=index">
                        <td>{{i+1}}</td>
                        <td class="fs-5">{{item.title}}</td>
                        <td> <img id="productImage" width="70%" [src]="item.image" alt=""> </td>
                        <td>
                            <div class="d-flex px-4">
                                <button (click)="decrementcartcount(item.id)" class="btn btn-outline-light rounded-0">-</button>
                                <input type="text" class="form-control text-dark text-center rounded-0" [value]="item.quantity" readonly>
                                <button (click)="incrementcartcount(item.id)" class="btn btn-outline-light rounded-0">+</button>
                            </div>
                        </td>
                        <td class="fs-4">${{item.grandTotal}}</td>
                        <td>
                            <a (click)="removeFromCart(item.id)" class="fa-solid fa-sharp fa-trash text-danger fs-5"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>


</div>